In [1]:
import pandas as pd

In [5]:
data = pd.read_csv("top_10_raw.csv")
data.columns = ['rank', 'name', 'value', 'year', 'age']

In [6]:
data.year = data.year.apply(lambda x: int(x[0:4]))

In [7]:
def set_last_value(x):
    try :
        x[5] = data[data.name == x[1]][data.year == (x[3]-1)].value.unique()[0]
    except:
        x[5] = x[2]
    return x

In [ ]:
data["lastValue"] = 0
data = data.apply(set_last_value, axis=1)

In [13]:

data[data.year == 2009]

     rank         name  value  year  age  lastValue
240     1      Topalov   2796  2009   33       2780
241     2        Anand   2791  2009   39       2799
242     3     Ivanchuk   2779  2009   39       2751
243     4      Carlsen   2776  2009   18       2733
244     5   Morozevich   2771  2009   31       2765
245     6     Radjabov   2761  2009   21       2735
246     7    Jakovenko   2760  2009   25       2720
247     8      Kramnik   2759  2009   33       2799
248     9         Leko   2751  2009   29       2753
249    10  Movsesian S   2751  2009   30       2751
250    11      Aronian   2750  2009   26       2739
251    12       Shirov   2745  2009   36       2755
252    13     Wang Yue   2739  2009   21       2739
253    14     Grischuk   2733  2009   25       2733
254    15      Gelfand   2733  2009   40       2737
255    16   Ponomariov   2726  2009   25       2719
256    17       Kamsky   2725  2009   34       2726
257    18   Mamedyarov   2724  2009   23       2760
258    19     Gashimov   2723  2009   22       2723
259    20      Svidler   2723  2009   32       2763

In [9]:
data.to_csv("top_10.csv", index=False)